application/config/database.php
.htaccess
/nbproject/private/
.idea/.name

.idea/encodings.xml

.idea/misc.xml

.idea/modules.xml

.idea/php.xml

.idea/quierounperro.iml

.idea/scopes/scope_settings.xml

.idea/vcs.xml

.idea/workspace.xml

nbproject/project.properties

nbproject/project.xml
